@model IEnumerable<ASP_Final_System.Models.Products>

<div class="container-md">
    <br />
    <table class="table table-striped">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }

    </table>
    </div>
