
@{
    ViewBag.Title = "Bienvenid@ a ASP System";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Sistema de Facturación ASP.NET</h1>
        <p class="lead">Sistema de facturación hecho con ASP.NET, Entity Framework, SQL & Bootstrap 4.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" width="175" height="250" class="card-img" alt="Media">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Módulo de Mantenimiento</h5>
                            <p class="card-text">En este módulo puede administrar las diferentes herramientas del sistema.</p>
                            <a href="\Products/Index" class="btn btn-outline-primary">Abrir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1506555191898-a76bacf004ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" width="175" height="250" class="card-img" alt="Media">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Módulo de Procesos</h5>
                            <p class="card-text">En este módulo puede gestionar el movimientos e ingreso de mercancías.</p>
                            <a href="#" class="btn btn-outline-primary">Abrir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixlib=rb-1.2.1&auto=format&fit=crop&w=332&q=80" width="175" height="250" class="card-img" alt="Media">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Módulo de Consultas</h5>
                            <p class="card-text">En este módulo, puede utilizar las funcionalidades de consultar y filtrar.</p>
                            <a href="#" class="btn btn-outline-primary">Abrir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

